.navigation {
    a {
        text-decoration: none;
        padding: 0 15px;
        color: #707070;
        &:hover {
            color: var(--add-cart-button-background);
        }
    }
    .active {
        color: var(--add-cart-button-background);
    }


}

.logo__text{
  color: #224dd8d7;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
}

.change-theme {

}

.router-change-progress-bar {
   ::ng-deep {
    .mat-progress-bar {
        position: absolute!important;
        top: 70px;
        left: 0;
        z-index: 9999;
    }
   }
}
