.create-section {
  padding: 30px 15%;

  .product-form {
      .form-field {
          width: 100%;
      }

      .back-btn {
          margin-top: 20px;
          background-color: #efefef;
          color: #707070;
          margin-right: 10px;
      }

      .submit-btn {
          margin-top: 20px;
          background-color: var(--add-cart-button-background);
          color: #ffffff;
      }

      .mat-raised-button[disabled][disabled] {
          background-color: rgba(0,0,0,.12);
      }
      ::ng-deep {
          .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
              color: var(--add-cart-button-background);
          }
      }
  }
}



* {box-sizing: border-box}

/* Add padding to containers */
.container {
  margin-left: 20%;
  padding: 16px;
  width: 65%;
}

h1{
  text-align: center;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
